@font-face {
  font-family: 'Avenir';
  src: local('Avenir'), url(/Users/jgarboza/Repos/Personal/knowledge-repo/src/fonts/Avenir.ttc) format('ttc');
}
body {
	font-family: Avenir, Helvetica, sans-serif !important;
	font-size: 12px !important;
}
:local(.keicon) {
	margin-left : 15px;
	margin-right : 7px;
	margin-bottom : 7px;
	width: 16px;
	height: 16px;
}
:local(.actionicon) {	
	margin-left : 10px;
	margin-right : 10px;
	width: 16px;
	height: 16px;
}
.hamburgericon {	
	margin-left : 10px;
	margin-right : 10px;
	width: 16px;
	height: 16px;
}
.hamburgericon:hover {
	cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
}
.hamburgericon:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
:local(.kerow){
	display: flexbox;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	webkit-box-flex-direction: row;
	moz-box-flex-direction: row;
	ms-flex-direction: row;
	webkit-flex-direction: row;
	flex-direction: row;

	flex: 1 1 200px;
	align-items: center;
	border-bottom: 1px solid lightgray;
}
:local(.kerow:hover){
	background: rgba(255,237,179,22);
}
:local(.kerow_selected){
	background: rgba(255,237,179,22);
}
:local(.ketitle){
	cursor: pointer;
	flex-grow: 1;
	flex-basis: 200px;
	font-size: 13.5px;
	-webkit-font-smoothing: antialiased;
	padding-top: 5px;
	padding-bottom: 5px;
}
:local(.ketitle_textarea){	
	cursor: pointer;
	outline: none;
	font-family: 'Avenir';
	resize: none;
	overflow: auto;
	border: 0;
	background: transparent;
	padding: 7px;
}
:local(.ketitle_textarea_edit){
	border: 1px solid darkgray;
	border-radius: 5px;
	background: white;
}
:local(.kescore){
	cursor: pointer;
	flex-basis: 200px;
	font-size: 10.5px;
}
:local(.keactions div){	
	flex-basis: 150px;
	padding-right: 20px;
	padding-left: 40px;

	visibility: hidden;
}
:local(.keactions_visible div){
	cursor: pointer;
	flex-basis: 150px;
	padding-right: 20px;
	padding-left: 40px;
	visibility: visible;
}
:local(.SortableHelper) {
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.2), 0 -5px 5px -5px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.8);
    cursor: row-resize;
}
