@font-face {
  font-family: 'Avenir';
  src: local('Avenir'), url(/Users/jgarboza/Repos/Personal/knowledge-repo/src/fonts/Avenir.ttc) format('ttc');
}
:local(.icon) {
	margin-left : 7px;
	margin-right : 7px;
	width: 16px;
	height: 16px;
}
:local(.panel){
	display: flex;
	flex: 1 1 200px;
	flex-direction: row;
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
}
:local(.editor_container){
	flex: 1;
	margin: 15px 15px 15px 15px;
}
:local(.panel_menu){
	margin: 15px 15px 15px 0px;
}
:local(.panel_menu_item){
	font-family: 'Avenir';
	src: local('Avenir'), url(/Users/jgarboza/Repos/Personal/knowledge-repo/src/fonts/Avenir.ttc) format('ttc');
	font-size: 12px;
}
