@font-face {
  font-family: 'Avenir';
  src: local('Avenir'), url(/Users/jgarboza/Repos/Personal/knowledge-repo/src/fonts/Avenir.ttc) format('ttc');
}
.krfont {
  font-family: 'Avenir';
  font-size: 13px;
}

.krcontainer {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav content side";
  grid-template-columns: 100px 1fr 300px;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.logo {
  font-size: 20px;
}

.tempBox {
  height: 200px;
}

header {
  grid-area: header;
  background: black;
}

nav {
  padding: 30px 5px 20px 5px;
  grid-area: nav;
  background: black;
}

main {
  grid-area: content;
}
