body {
  margin: 0;
  padding: 0;
  font-family: 'Avenir';
  src: local('Avenir'), url(/Users/jgarboza/Repos/Personal/knowledge-repo/src/fonts/Avenir.ttc) format('ttc');
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
